<div class="container">

  {{#if surveys}}

    <a href="/createSurvey" class="btn btn-success mt-3 col-md-2" role="button">Create Survey</a> 
    

      {{#each surveys}}
        <div class="row">
          <div class="col-3 mt-3">                     
            <div class="card" style="width: 18rem;"> 
                {{#eq @root.emailLoguedUser this.email}}
                <a href="/surveys/delete/{{_id}}?_method=DELETE" class="text-dark text-end mt-1 mx-2"><i class="fas fa-trash-alt"></i></a>             
                {{/eq}}        
                <div class="card-body">
                <h5 class="card-title">{{title}}</h5>                                                  
                <p class="card-text"><small class="text-muted">creado por {{email}}</small></p>                
                <p class="card-text">{{description}}</p>
              </div>
              <div class="card footer">
                <div class="d-grid gap-2 d-md-flex justify-content-between">           
                  <a href="#" class="btn text-muted">Cantidad votos</a>                   
                  <a href="/vote" class="btn btn-secondary">Votar</a>
                </div>
              </div>          
            </div> 
          </div>         
        </div>   

      {{/each}} 

    {{else}}

      <a href="/createSurvey" class="btn btn-success mt-3 col-md-2" role="button">Create Survey</a>

      <h3 class="text-center mt-4">No hay encuestas</h3>

    {{/if}}
    
</div>








{{!-- <table class="table">
  <thead>
    <tr>     
      <th scope="col">Task Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
      {{#each tasks}}
    <tr>      
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>
        <div>
          <form action="/status/{{_id}}" method="POST">
          {{#if status}}
            <input class="form-check-input" type="checkbox" id="{{_id}}" name="statuscheck" onChange="this.form.submit()" aria-label="..." checked>
            <span class="badge bg-success">Finished</span>
            
          {{else}}
            <input class="form-check-input" type="checkbox" id="{{_id}}" name="statuscheck" onChange="this.form.submit()" aria-label="...">
            <span class="badge bg-warning text-dark">Pending</span>
          {{/if}}
          </form>
          </div>
      </td>    
      <td><a href="/tasks/edit/{{_id}}" class="text-secondary"><i class="fas fa-edit"></i></a></td>
      <td><a href="/tasks/delete/{{_id}}?_method=DELETE" class="text-danger"><i class="fas fa-trash-alt"></i> </a></td>     
    </tr>
    {{/each}} 
    </tbody>
</table> --}}